<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      $(document).ready(function() {
        let socket = io();
        let input = $('#message');
        
        $('form').submit(function() {
          socket.emit('chat message', input.val());
          input.val('');
          return false;
        });

        socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
        });
      });
    </script>
  </head>
  <body>
    <form>
      <input id="message"/>
      <input type="submit"/>
    </form>
    <ul id="messages"></ul>
  </body>
</html>